/*Responsive para celular*/

/*Página de login*/
@media only screen and (max-width: 360px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }

  .section-login {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .section-img {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .login-logo {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: 15px;
    text-align: center;
    margin-top: 50px;
  }

  .login-text {
    font-size: 12px;
    margin-top: 5px;
  }

  .section-form {
    background-color: white;
    margin-top: -10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .login-formContainer {
    margin-top: 0px;
  }

  .login-inputMail,
  .login-inputPassword {
    margin-bottom: 10px;
    background-color: white;
    width: 85%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 25px;
  }

  .img-input {
    width: 6%;
    height: auto;
  }

  .email-user,
  .password-user {
    font-size: 12px;
    text-align: center;
  }

  .terms,
  .link-recover {
    font-size: 10px;
  }

  .terms-singin {
    font-size: 10px;
  }

  .button-login {
    width: 20%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 11px;
    margin-right: 50px;
  }

  .link-recover,
  .link-newAccount {
    font-size: 11px;
  }

  .lines {
    width: 80%;
  }

  .login-width {
    font-size: 12px;
  }

  .login-newAccount {
    width: 100%;
  }

  .welcome-two {
    display: none;
  }

  .kimbap {
    display: none;
  }

  footer {
    display: none;
  }
}

/*Página de Register*/
@media only screen and (max-width: 360px) {
  .register-form {
    grid-template-columns: 85%;
  }

  .img-logo-register {
    width: 100%;
    height: auto;
  }

  .title-register {
    font-size: 1.4em;
    margin-top: 30px;
  }

  .email-box,
  .password-box {
    font-size: 11px;
  }

  .signinOptionText,
  .link-session {
    font-size: 14px;
  }

  .conditionsText {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
  }

  .button-log {
    margin-top: 20px;
    margin-bottom: 5px;
  }
}

/*Página de Wallpage*/
@media only screen and (max-width: 360px) {
  .wall-section {
    grid-template-rows: 14% 70%;
    font-size: 11px;
  }

  .main-wall {
    display: flex;
    flex-direction: column-reverse;
  }

  .aside-box {
    display: flex;
    flex-direction: row;
    border-right: none;
    background-color: #c4c4c4f5;
    position: absolute;
    height: 20%;
    width: 100%;
    bottom: -5%;
    z-index: 10;
  }

  .wall-logo {
    margin-left: -12%;
    margin-right: 4%;
    width: 60%;
    height: auto;
    margin-top: 3%;
  }

  /*.home,
.plus{
  
}*/

  .button-logout {
    margin-top: 3px;
    margin-left: 30px;
  }

  .home {
    margin-left: 70px;
    margin-right: 30px;
  }

  .img-user {
    width: 6.49vw;
    height: auto;
  }

  .img-home {
    width: 75%;
    height: auto;
  }

  .img-plus {
    width: 75%;
    height: auto;
  }

  .img-logout {
    width: 75%;
    height: auto;
  }

  .plus:hover,
  .button-logout:hover,
  .home:hover {
    background-color: rgba(128, 128, 128, 0);
  }

  .button-plus,
  .btn-logout,
  .btn-home {
    display: none;
  }

  .remember,
  .like-aside,
  .korean-food {
    display: none;
  }

  .hidden {
    display: none;
  }
}
